<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204828461804-jsed183ss4pi8v4cqnpfek0djgi7qdm6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204828461804-jsed183ss4pi8v4cqnpfek0djgi7qdm6</string>
	<key>API_KEY</key>
	<string>AIzaSyBBc_IFapX51BgOV5fe_sqeEIvJuUCn1Io</string>
	<key>GCM_SENDER_ID</key>
	<string>204828461804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hour</string>
	<key>PROJECT_ID</key>
	<string>my-hour-ae8dc</string>
	<key>STORAGE_BUCKET</key>
	<string>my-hour-ae8dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204828461804:ios:eea07efb1c597b897933c9</string>
</dict>
</plist>